


  .cards {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    gap: 8rem 8rem;
    pointer-events: none;

    max-width: 90vw;
    transition: all 400ms ease-in-out;

    //opacity: .88;

  }
  
  .card {
    cursor: pointer;

    position: relative;

    opacity: 0;
    //visibility: hidden;


    max-width: 36rem;
    color: #ffffffda;
    padding: 1.5rem;
    background-color: #202022;
    
    
    transform: scale(1) translateX(500%);
    transition: all 1.5s ease-in-out, transform 800ms ease-in, opacity 1000ms ease-in-out; 
    
    display: flex;
    flex-direction: column;


    z-index: 1000;

    &.appear {
      opacity: 1;
      visibility: visible;
      //move right to out of the screen
      transform: scale(1) translateX(0) rotate(1deg);
      
    }

   

    &.selected {
      transform: scale(1.18)  !important;
      


      transition: all 1.5s ease-in-out;

      .card-title::before {
        box-shadow: inset 0 0 14px #00d0ff;
      }
     
    }

    
    
    .card-title {
      position: relative;

     font-size: 30px;
      
      &::before {
        content: "";
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        box-shadow: inset 0 0 3px #00d0ff;
        background-color: transparent;
      
        position: absolute;
        right: 0;

        transition: box-shadow 400ms ease-in-out;
      }
    }

    &:hover {
        .card-title::before {
            box-shadow: inset 0 0 10px #00d0ff;
        }
    }
    
   
    
    .description {
      font-size: 1rem;
    }

    //red cirle is an id of a red circle with similar height and width as the card-title:before sudo element
    #red-circle {
      opacity: 0;

      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 44px;

      height: 16px;
      width: 16px;
    
      border-radius: 50%;
      box-shadow: inset 0 0 10px #e93965;
      z-index: 1400;
      transition: opacity 780ms ease-out ,background-color 400ms ease-in-out, box-shadow 400ms ease-in-out;

      pointer-events: auto;

      &:hover {
        box-shadow: inset 0 0 14px #e93965;

      }
    }


   &:hover {
    transform: scale(1.15);
    box-shadow: 0 0 8px #b379ff79;
    z-index: 1001;
  
  }
 
  }


.cards:not(.oneSelected):hover > .card:not(:hover) {
  opacity: 0.4;
}

@media (max-width: 1100px) {
  .cards {
    margin-top: 4vh;
    gap: 4rem 6rem;
    .card {
      max-width: 20rem;
    }
  }
}

@media (max-width: 900px) {
  .cards {
    gap: 3rem 5rem;
  }
}

//media query for less than 768px
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0.8rem;
    gap: 1.2rem;

    .card {
        max-width: 73vw;
        max-height: 18vh;
        padding: 1rem;

        .card-title {
            font-size: 24px;
        }

        .description {
            font-size: 13px;
        }
    }
    #red-circle {
      top: 16px !important;
      right: 36px !important;
    }
   
  }
}