.contact{
    position: fixed;
    width: 100%;
    bottom: -255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1280ms ease-in-out;
    &.showup {
        opacity: 1;
        transform:translateY(-255px);
    }


    h2.h-question {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #a0acb3;
    }
    ul.my-contact{
        li {
            margin: 10px auto 0px;
            text-align: center;
            font-size: 22px;

            a {
                color: #9db4ef;
            }
        }
    }



    div.links {
        margin-top: 14px;
        a {
            color: #d0ece6;
            margin: 2px 12px;
        }
    }

    a {
        text-decoration: none;
    }

    .links {
        display: flex;
        justify-content: center;
        a {
            text-align: center;
            font-size: 28px;
            margin: 12px 8px;
        }
    }
}




@media screen and (max-width: 600px) {

   .contact {
       &.showup {
            transform:translateY(-200px);
       }
      
   }
   
   }
  
