.contact{
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
    transition: all 1280ms ease-in-out;
    &.showup {
        opacity: 1;
        top: 0px
    }

    h2 {
        text-align: center;
    }

    ul.my-contact{
        li {
            text-align: center;
        }
    }

    .links {
        display: flex;
        justify-content: center;
        a {
            text-align: center;
            font-size: 24px;
            margin: 12px 8px;
        }
    }
}



@media screen and (max-width: 600px) {
    .contact{
        &.showup {
            top: 115px
        }
    
    }
  }