
.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1,h2{
        margin: 4px 48px;
    }
    margin-top: 0;
    h1.welcome-text {
      min-height: 80px;
      animation: scaleDownFontSize 2000ms ease-in 3000ms forwards;
    }
    h2.titles {
      max-height: 60px;
    }
    p.hero-p {
      margin: 2.0rem auto;
    }
  
    ul.solutions {
      align-self: center;
      background-color: #adadad;
      margin: 12px;
      padding: 12px 24px;
      border-radius: 4px;
      width: 88vw;
  
      color: whitesmoke;
      
    }
  }