.my-services{
    li {
        background-color: rgb(230, 234, 236);
        color: rgb(39, 91, 96);
        margin: 4px 24px;
        padding: 8px 24px 8px 12px;
        line-height: 140%;
    }
}