@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&family=Voces&display=swap");
.hero {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero div#IdHeader {
  position: absolute;
  top: -1000px;
  margin: 8px 64px;
  transition: all 1500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.hero div#IdHeader #name {
  opacity: 0;
  font-size: 3.4rem;
  transition: opacity 800ms ease-in-out 1s;
}
.hero div#IdHeader #title {
  opacity: 0;
  font-size: 2.2rem;
  color: #7000FF;
  letter-spacing: 1px;
  transition: opacity 800ms ease-in-out 1800ms;
}
.hero div#IdHeader #description {
  opacity: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  font-weight: 200;
  font-style: italic;
  transition: opacity 800ms ease-in-out 2600ms;
  margin-right: 150px;
}
.hero div#IdHeader span.highlight-2 {
  color: #ffffff;
  font-size: 1.61rem;
}
.hero h1, .hero h2 {
  margin: 76px 64px;
}
.hero h1.welcome-text {
  margin-top: 18vh;
  min-height: 80px;
  transition: all 1130ms ease-in-out;
}
.hero p.hero-p {
  margin: 2rem auto;
}
.hero ul.solutions {
  align-self: center;
  background-color: #adadad;
  margin: 12px;
  padding: 12px 24px;
  border-radius: 4px;
  width: 88vw;
  color: whitesmoke;
}

@media screen and (max-width: 600px) {
  .hero div#IdHeader {
    margin: auto 30px;
  }
  .hero div#IdHeader #name {
    font-size: 2.2rem;
  }
  .hero div#IdHeader #title {
    font-size: 1.8rem;
  }
  .hero div#IdHeader #description {
    font-size: 1.4rem;
    margin-right: 30px;
  }
  .hero h1, .hero h2 {
    margin: 24px 30px;
  }
}
section.skills span.titles {
  font-weight: 400 !important;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-list li {
  background-color: rgb(205, 227, 226);
  color: rgb(20, 84, 84);
  height: 36px;
  padding: 8px 12px;
  margin: 8px;
  border-radius: 8px;
  line-height: 123%;
}

.my-services li {
  background-color: rgb(230, 234, 236);
  color: rgb(39, 91, 96);
  margin: 4px 24px;
  padding: 8px 24px 8px 12px;
  line-height: 140%;
}

.contact {
  position: fixed;
  width: 100%;
  bottom: -255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1280ms ease-in-out;
  z-index: 2;
}
.contact.showup {
  opacity: 1;
  transform: translateY(-200px);
}
.contact h2.h-question {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #a0acb3;
}
.contact ul.my-contact li {
  margin: 10px auto 0px;
  text-align: center;
  font-size: 22px;
}
.contact ul.my-contact li a {
  color: #9db4ef;
}
.contact div.links {
  margin-top: 14px;
}
.contact div.links a {
  color: #d0ece6;
  margin: 2px 12px;
}
.contact div.links a img {
  height: 64px;
  width: 64px;
  transition: all 420ms ease-in-out;
}
.contact div.links a img:hover {
  filter: saturate(1.8);
}
.contact a {
  text-decoration: none;
}
.contact .links {
  display: flex;
  justify-content: center;
}
.contact .links a {
  text-align: center;
  font-size: 28px;
  margin: 12px 8px;
}

@media screen and (max-width: 600px) {
  .contact.showup {
    transform: translateY(-200px);
  }
  .contact h2.h-question {
    font-size: 1.6rem;
  }
  .contact div.links a > img {
    height: 50px;
    width: 50px;
  }
}
.loading-screen {
  position: absolute;
  background-color: rgb(16, 16, 16);
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  transition: opacity 3s cubic-bezier(0.93, 0.28, 1, 0.82);
  z-index: 100;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Voces", cursive;
  color: #d8e3e8;
  background-color: #1E1E1E;
}
body h1 {
  font-size: 3.6rem;
  line-height: 130%;
}
body h2 {
  font-size: 2.4rem;
}
body p, body li {
  font-size: 1.8rem;
}
body ul {
  list-style: none;
}
body section {
  margin: 5.2rem auto;
}

#particles-js {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

span.highlight {
  color: #7000FF;
  font-size: 3.6rem;
}

@media screen and (max-width: 600px) {
  body h1 {
    font-size: 2.1rem;
  }
  body h2 {
    font-size: 1.4rem;
  }
  body p, body li {
    font-size: 1rem;
  }
  body section {
    margin: 3.6rem auto;
  }
  span.highlight {
    color: #7000FF;
    font-size: 2.2rem;
  }
}
.fulldisplaybutton {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.fulldisplaybutton .notice {
  text-align: center;
}
.fulldisplaybutton .notice h3 {
  opacity: 0;
  text-align: center;
  color: white;
  font-size: 34px;
  font-weight: 400;
  transition: opacity 2000ms 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fulldisplaybutton .notice p {
  opacity: 0;
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  color: #CCC;
  transition: opacity 2800ms 880ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fulldisplaybutton .avatar-wrapper {
  background-color: #0B043A;
  margin-top: 150px;
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 40px 40px #0B0438;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fulldisplaybutton .avatar-wrapper img {
  height: 160px;
  border-radius: 50%;
}
.fulldisplaybutton.hide {
  opacity: 0;
  display: none;
  visibility: hidden;
}

span.typed-cursor {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */