@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&family=Voces&display=swap");
.js-snackbar-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  z-index: 999;
  overflow: hidden;
}

.js-snackbar-container--top-left {
  bottom: unset;
  right: unset;
  top: 0;
  left: 0;
}

.js-snackbar-container--top-center {
  top: 0;
  bottom: unset;
  left: 50%;
  right: unset;
  transform: translateX(-50%);
}

.js-snackbar-container--top-right {
  bottom: unset;
  right: 0;
  left: unset;
  top: 0;
}

.js-snackbar-container--bottom-left {
  bottom: 0;
  right: unset;
  left: 0;
  top: unset;
}

.js-snackbar-container--bottom-center {
  bottom: 0;
  right: unset;
  left: 50%;
  top: unset;
  transform: translateX(-50%);
}

.js-snackbar-container--fixed {
  position: fixed;
}

.js-snackbar-container * {
  box-sizing: border-box;
}

.js-snackbar__wrapper {
  overflow: hidden;
  height: auto;
  margin: 0;
  border-radius: 3px;
  display: flex;
  min-width: auto;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.js-snackbar {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 3px;
  color: #eee;
  font-size: 16px;
  background-color: #262626;
  vertical-align: bottom;
  box-shadow: 0 0 4px 0 black;
  margin: 0 10px;
  flex-grow: 1;
}

.js-snackbar__close,
.js-snackbar__status,
.js-snackbar__message-wrapper {
  position: relative;
}

.js-snackbar__message-wrapper {
  flex: 1;
  padding: 12px;
}

.js-snackbar__message {
  display: inline-block;
}

.js-snackbar__status {
  display: none;
  min-width: 15px;
  margin-right: 5px;
  border-radius: 3px 0 0 3px;
  background-color: transparent;
}

.js-snackbar__status.js-snackbar--success,
.js-snackbar__status.js-snackbar--warning,
.js-snackbar__status.js-snackbar--danger,
.js-snackbar__status.js-snackbar--info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-snackbar__status.js-snackbar--success {
  background-color: #4caf50;
}

.js-snackbar__status.js-snackbar--warning {
  background-color: #ff9800;
}

.js-snackbar__status.js-snackbar--danger {
  background-color: #b90909;
}

.js-snackbar__status.js-snackbar--info {
  background-color: #2196f3;
}

.js-snackbar__icon {
  display: block;
  border: 2px solid white;
  font-weight: bold;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 0 5px;
  font-family: monospace;
}

.js-snackbar__action {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #838cff;
  cursor: pointer;
}

.js-snackbar__action:hover {
  background-color: #333;
}

.js-snackbar__close {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #BBB;
}

.js-snackbar__close:hover {
  background-color: #444;
}

.hero {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero div#IdHeader {
  position: absolute;
  top: -1000px;
  margin: 8px 64px;
  transition: all 1200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.hero div#IdHeader #name {
  opacity: 0;
  font-size: 3.4rem;
  transition: opacity 800ms ease-in-out 200ms;
}
.hero div#IdHeader #title {
  opacity: 0;
  font-size: 2.2rem;
  color: #00d0ff;
  letter-spacing: 1px;
  transition: opacity 800ms ease-in-out 1500ms;
}
.hero div#IdHeader #description {
  opacity: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  font-weight: 200;
  font-style: italic;
  transition: opacity 800ms ease-in-out 2600ms;
  margin-right: 150px;
}
.hero div#IdHeader span.highlight-2 {
  color: #ffffff;
  font-size: 1.61rem;
}
.hero h1,
.hero h2 {
  margin: 76px 64px;
}
.hero h1.welcome-text {
  margin-top: 10vh;
  min-height: 80px;
  transition: all 1130ms ease-in-out;
}
.hero p.hero-p {
  margin: 2rem auto;
}
.hero ul.solutions {
  align-self: center;
  background-color: #adadad;
  margin: 12px;
  padding: 12px 24px;
  border-radius: 4px;
  width: 88vw;
  color: whitesmoke;
}

@media screen and (max-width: 1188px) {
  .hero div#IdHeader #description {
    width: 100%;
  }
}
@media screen and (max-width: 796px) {
  .hero div#IdHeader #name {
    font-size: 2.2rem;
  }
  .hero div#IdHeader #title {
    font-size: 1.8rem;
  }
  .hero div#IdHeader #description {
    font-size: 1.2rem;
  }
  .hero div#IdHeader span.highlight-2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 600px) {
  .hero div#IdHeader {
    margin: auto 30px;
  }
  .hero div#IdHeader #name {
    font-size: 2.4rem;
  }
  .hero div#IdHeader #title {
    font-size: 1.8rem;
  }
  .hero div#IdHeader #description {
    font-size: 1rem;
    margin-right: auto;
  }
  .hero div#IdHeader span.highlight-2 {
    font-size: 1.1rem;
  }
  .hero h1,
  .hero h2 {
    margin: 24px 30px;
  }
}
section.skills span.titles {
  font-weight: 400 !important;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-list li {
  background-color: rgb(205, 227, 226);
  color: rgb(20, 84, 84);
  height: 36px;
  padding: 8px 12px;
  margin: 8px;
  border-radius: 8px;
  line-height: 123%;
}

.my-services li {
  background-color: rgb(230, 234, 236);
  color: rgb(39, 91, 96);
  margin: 4px 24px;
  padding: 8px 24px 8px 12px;
  line-height: 140%;
}

.contact {
  position: fixed;
  width: 100%;
  bottom: -255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease-in-out 4s;
  z-index: 2;
}
.contact.showup {
  opacity: 1;
  transform: translateY(-200px);
}
.contact h2.h-question {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #a0acb3;
}
.contact ul.my-contact li {
  margin: 10px auto 0px;
  text-align: center;
  font-size: 22px;
}
.contact ul.my-contact li a {
  color: #9db4ef;
}
.contact div.links {
  margin-top: 14px;
}
.contact div.links a {
  color: #d0ece6;
  margin: 2px 12px;
}
.contact div.links a img {
  height: 64px;
  width: 64px;
  transition: all 420ms ease-in-out;
}
.contact div.links a img:hover {
  filter: saturate(1.8);
}
.contact a {
  text-decoration: none;
}
.contact .links {
  display: flex;
  justify-content: center;
}
.contact .links a {
  text-align: center;
  font-size: 28px;
  margin: 12px 8px;
}

@media screen and (max-width: 600px) {
  .contact.showup {
    transform: translateY(-204px);
  }
  .contact h2.h-question {
    letter-spacing: 0.41px;
    font-size: 1.2rem;
  }
  .contact div.links {
    margin: 6px auto;
  }
  .contact div.links a > img {
    height: 44px;
    width: 44px;
  }
}
.loading-screen {
  position: absolute;
  background-color: rgb(16, 16, 16);
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  transition: opacity 3s cubic-bezier(0.93, 0.28, 1, 0.82);
  z-index: 100;
}

div.actions {
  position: absolute;
  bottom: 30vh;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  opacity: 0;
  transition: opacity 650ms ease-in 3s, bottom 800ms ease;
}
div.actions.appear {
  opacity: 1;
}
div.actions button {
  height: 70px !important;
  background-color: transparent;
  outline: none;
  border: none;
}
div.actions a, div.actions button {
  cursor: pointer;
  width: 331px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #00d0ff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
div.actions a.righto span.bg, div.actions button.righto span.bg {
  left: unset;
  right: -5%;
  position: absolute;
  background: #00748f;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
div.actions a.white:hover > p, div.actions button.white:hover > p {
  color: #ece8e1;
}
div.actions a.white > p, div.actions button.white > p {
  background: #ece8e1;
  color: #0f1923;
}
div.actions a.white > p span.base, div.actions button.white > p span.base {
  border: 1px solid transparent;
}
div.actions a.transparent:hover > p, div.actions button.transparent:hover > p {
  color: #ece8e1;
}
div.actions a.transparent:hover > p span.text, div.actions button.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
div.actions a.transparent > p, div.actions button.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
div.actions a.transparent > p span.base, div.actions button.transparent > p span.base {
  border: 1px solid #ece8e1;
}
div.actions a:after, div.actions a:before, div.actions button:after, div.actions button:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
div.actions a:before, div.actions button:before {
  right: 0;
  left: initial;
}
div.actions a p, div.actions button p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  color: rgb(176, 176, 176);
  box-sizing: border-box;
  font-size: 1.3rem;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: color 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
div.actions a p:hover, div.actions button p:hover {
  color: #fff;
}
div.actions a p span.base, div.actions button p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #00d0ff;
}
div.actions a p span.base:before, div.actions button p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
div.actions a p span.bg, div.actions button p span.bg {
  left: -5%;
  position: absolute;
  background: #00748f;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
div.actions a p span.text, div.actions button p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
div.actions a p span.text:after, div.actions button p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
div.actions a:hover, div.actions button:hover {
  color: #ece8e1;
}
div.actions a:hover span.bg, div.actions button:hover span.bg {
  width: 110%;
}
div.actions a:hover span.text:after, div.actions button:hover span.text:after {
  background: #ece8e1;
}

@media screen and (max-width: 1024px) {
  div.actions {
    bottom: 18vh;
    justify-content: space-evenly;
  }
  div.actions a {
    width: calc(50vw - 110px);
    height: 52px;
  }
  div.actions button {
    width: calc(50vw - 110px);
    height: 52px;
  }
}
@media screen and (max-width: 600px) {
  div.actions {
    bottom: 13vh;
    width: 100%;
    margin-top: 33px;
    flex-direction: column;
  }
  div.actions a {
    width: calc(88vw - 8px);
    height: 48px;
  }
  div.actions button {
    width: calc(88vw + 7px);
    height: 52px;
  }
}
#myModal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.722);
  transition: all 480ms ease-in-out;
  z-index: 9;
}
#myModal.show {
  display: flex;
  visibility: visible;
  opacity: 1;
}
#myModal .modal-wrapper {
  margin: auto;
  width: 48vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 499;
  padding: 8px;
  border-radius: 8px;
}
#myModal .modal-wrapper .modal-header {
  width: 100%;
}
#myModal .modal-wrapper .modal-header h2 {
  text-align: center;
  color: #3164ed;
  margin-top: 20px;
  margin-bottom: -22px;
}
#myModal .modal-wrapper .modal-content {
  width: 94%;
  margin: 4px 8px;
}
#myModal .modal-wrapper .modal-content input, #myModal .modal-wrapper .modal-content textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.8s;
  border-bottom: 2px solid rgba(47, 47, 47, 0.431372549);
}
#myModal .modal-wrapper .modal-content input:focus, #myModal .modal-wrapper .modal-content textarea:focus {
  border-bottom: 2px solid #3164ed;
}
#myModal .modal-wrapper .modal-content textarea {
  padding-top: 18px;
}
#myModal .modal-wrapper .modal-content p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #1e1e1e;
  font-weight: 600;
}
#myModal .modal-wrapper .modal-content button {
  float: right;
  padding: 8px 12px;
  margin: 8px 5px 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78878c;
  background: 0;
  color: #5a5a6e;
  min-width: 200px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}
#myModal .modal-wrapper .modal-content button:last-child {
  min-width: 120px;
}
#myModal .modal-wrapper .modal-content button:hover {
  background: #3164ed;
  color: #fff;
}
#myModal .modal-wrapper .modal-content button:last-child:hover {
  background-color: #e15d5d;
}
#myModal .modal-wrapper .modal-footer {
  width: 100%;
}
#myModal .modal-wrapper .modal-footer div {
  content: "Hi";
  position: absolute;
  bottom: -1px;
  width: 48vw;
  margin: auto;
  background: #353535;
  color: #fff;
  padding: 16px 2px 16px 0;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 10px 10px 40px -14px #000;
}
#myModal .modal-wrapper .modal-footer span {
  margin: 0 5px 0 15px;
}

@media screen and (max-width: 600px) {
  #myModal .modal-wrapper {
    margin-top: 8rem;
    width: 78vw;
  }
  #myModal .modal-wrapper button {
    min-width: 70px !important;
  }
}
main.explore-m {
  background-color: #0d2139;
  color: white;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  display: grid;
  place-content: center;
  z-index: 5555;
  transition: all 2700ms cubic-bezier(0.9, 0.07, 0.7, 0.88);
}
main.explore-m .actions-m {
  position: absolute;
  bottom: 30px;
  left: 0;
}
main.explore-m .timeline {
  visibility: hidden;
}
main.explore-m .timeline.pro {
  position: absolute;
  left: 54%;
  top: 150px;
}

span#invDirection {
  transform: rotate(180deg);
  position: absolute;
  left: 20%;
}

@media (max-width: 768px) {
  main.explore-m .actions-m {
    position: absolute;
    bottom: 22px;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
  gap: 8rem 8rem;
  pointer-events: none;
  max-width: 90vw;
  transition: all 400ms ease-in-out;
}

.card {
  cursor: pointer;
  position: relative;
  opacity: 0;
  max-width: 36rem;
  color: rgba(255, 255, 255, 0.8549019608);
  padding: 1.5rem;
  background-color: #202022;
  transform: scale(1) translateX(500%);
  transition: all 1.5s ease-in-out, transform 800ms ease-in, opacity 1000ms ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.card.appear {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateX(0) rotate(1deg);
}
.card.selected {
  transform: scale(1.18) !important;
  transition: all 1.5s ease-in-out;
}
.card.selected .card-title::before {
  box-shadow: inset 0 0 14px #00d0ff;
}
.card .card-title {
  position: relative;
  font-size: 30px;
}
.card .card-title::before {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 3px #00d0ff;
  background-color: transparent;
  position: absolute;
  right: 0;
  transition: box-shadow 400ms ease-in-out;
}
.card:hover .card-title::before {
  box-shadow: inset 0 0 10px #00d0ff;
}
.card .description {
  font-size: 1rem;
}
.card #red-circle {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 44px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  box-shadow: inset 0 0 10px #e93965;
  z-index: 1400;
  transition: opacity 780ms ease-out, background-color 400ms ease-in-out, box-shadow 400ms ease-in-out;
  pointer-events: auto;
}
.card #red-circle:hover {
  box-shadow: inset 0 0 14px #e93965;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 0 0 8px rgba(179, 121, 255, 0.4745098039);
  z-index: 1001;
}

.cards:not(.oneSelected):hover > .card:not(:hover) {
  opacity: 0.4;
}

@media (max-width: 1100px) {
  .cards {
    margin-top: 4vh;
    gap: 4rem 6rem;
  }
  .cards .card {
    max-width: 20rem;
  }
}
@media (max-width: 900px) {
  .cards {
    gap: 3rem 5rem;
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0.8rem;
    gap: 1.2rem;
  }
  .cards .card {
    max-width: 73vw;
    max-height: 18vh;
    padding: 1rem;
  }
  .cards .card .card-title {
    font-size: 24px;
  }
  .cards .card .description {
    font-size: 13px;
  }
  .cards #red-circle {
    top: 16px !important;
    right: 36px !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Voces", cursive;
  color: #d8e3e8;
  background-color: #0d2139;
  transition: all 2700ms cubic-bezier(0.9, 0.07, 0.7, 0.88);
}
body h1 {
  font-size: 3.6rem;
  line-height: 130%;
}
body h2 {
  font-size: 2.4rem;
}
body p, body li {
  font-size: 1.8rem;
}
body ul {
  list-style: none;
}
body section {
  margin: 5.2rem auto;
}

#particles-js {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

span.highlight {
  color: #00d0ff;
  font-size: 3.6rem;
}

@media screen and (max-width: 600px) {
  #IdHeader {
    top: 1rem !important;
    margin: auto 12px !important;
  }
  body {
    overflow-y: scroll;
  }
  body h1 {
    font-size: 1.8rem;
  }
  body h2 {
    font-size: 1.2rem;
  }
  body p, body li {
    font-size: 1rem;
  }
  body section {
    margin: 3.6rem auto;
  }
  span.highlight {
    font-size: 2.1rem;
  }
}
.fulldisplaybutton {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.fulldisplaybutton .notice {
  text-align: center;
}
.fulldisplaybutton .notice h3 {
  opacity: 0;
  text-align: center;
  color: white;
  font-size: 34px;
  font-weight: 400;
  transition: opacity 2000ms 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fulldisplaybutton .notice p {
  opacity: 0;
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  color: #CCC;
  transition: opacity 2800ms 880ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fulldisplaybutton .avatar-wrapper {
  background-color: #0B043A;
  margin-top: 150px;
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 40px 40px #0B0438;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fulldisplaybutton .avatar-wrapper img {
  height: 160px;
  border-radius: 50%;
}
.fulldisplaybutton.hide {
  opacity: 0;
  display: none;
  visibility: hidden;
}

span.typed-cursor {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.m-pagetransition {
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#snacks {
  height: 500px;
  width: 500px;
  left: 10px;
  bottom: 100px;
  outline: 1px solid red;
}/*# sourceMappingURL=styles.css.map */