@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&family=Voces&display=swap');
@import "./js-snackbar.scss";

@import "./hero";
@import './skills';
@import "./sercives";
@import "./contact";
@import "./spinner";

@import "./actions";
@import "./modal";
@import "./explore";
@import './cards';



* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: 'Voces', cursive;
  color: #d8e3e8;
  background-color: #1E1E1E;

  h1 {
      font-size: 3.6rem;
      line-height: 130%;

  }
  h2 {
    font-size: 2.4rem;
  }
  p, li {
    font-size: 1.8rem;
  }

  ul {
      list-style: none;
  }

  section {
    margin: 5.2rem auto;
  }
}

#particles-js {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}





span.highlight {
  color: #7000FF;
  font-size: 3.6rem;
 }



@media screen and (max-width: 600px) {

  body { 
    overflow-y: scroll;

    h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  p, li {
    font-size: 1rem;
  }
  section {
    margin: 3.6rem auto;
  }
}

  span.highlight {
    color: #7000FF;
    font-size: 2.1rem;
   }
 
 }

 .fulldisplaybutton{
   top: 0;
   position: absolute;
   width: 100vw;
   height: 100vh;
  // background-color: #1E1E1E;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
   z-index: 5;

   .notice {
    text-align: center;
    h3 {
      opacity: 0;
       text-align: center;
      color: white;
      font-size: 34px;
      font-weight: 400;
      //margin-bottom: 12px;
      transition: opacity 2000ms 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

     }
  
     p {
      opacity: 0;
      font-size: 14px;
      font-weight: 200;
      font-style: italic;
      color: #CCC;
      transition: opacity 2800ms 880ms cubic-bezier(0.075, 0.82, 0.165, 1);
     }
   }

   .avatar-wrapper{
     background-color: #0B043A;
    margin-top: 150px;
    height: 200px;
    width: 200px;

    box-shadow: 0px 0px 40px 40px #0B0438;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
     img {
      height: 160px;
      border-radius: 50%;
    }
   }
 
 

   &.hide {
     opacity: 0;
     display: none;
     visibility: hidden;
   }

 }




span.typed-cursor{
  display: none;
  opacity: 0;
  visibility: hidden;
}

.m-pagetransition {
  visibility: hidden;
}

   



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#snacks {
  height: 500px;
  width: 500px;
  left: 10px;
  bottom: 100px;
  outline: 1px solid red;
}